.container {
  margin-top: 15%;
  border: 6px solid #000000;
  background-color: #ffffff;
  padding: 25px;
}

.btn {
  background-color: #383838;
  color: #ffffff;
}

body {
  background-color: #383838;
  text-align: center;
}

footer {
  color: #ffffff;

}
